<h2 class="login-title">Sign-up</h2>
<form (ngSubmit)="onSubmit(signupForm)" class="signup-form" #signupForm="ngForm">
    <div class="form-group">
      <input type="text" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" required #firstName="ngModel"/>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error">
        <div *ngIf="firstName.errors?.['required']">First Name is required.</div>
      </div>
    </div>
    
    <div class="form-group">
      <input type="text" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" required #lastName="ngModel" />
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
        <div *ngIf="lastName.errors?.['required']">Last Name is required.</div>
      </div>
    </div>
    
    <div class="form-group">
      <input type="email" [(ngModel)]="user.email" placeholder="Email ID" name="email" required #email="ngModel" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    
    <div class="form-group">
      <input type="text" [(ngModel)]="user.mobileNo" placeholder="Mobile No" name="mobileNo" required pattern="^[0-9]+$" #mobileNo="ngModel" />
      <div *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)" class="error">
        <div *ngIf="mobileNo.errors?.['required']">Mobile number is required.</div>
        <div *ngIf="mobileNo.errors?.['pattern']">Mobile number must contain only numbers.</div>
      </div>
    </div>
    
    <div class="form-group">
      <select [(ngModel)]="user.role" name="role" required #role="ngModel">
        <option value="" disabled>Select Role</option>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
        <option value="Guest">Guest</option>
      </select>
      <div *ngIf="role.invalid && (role.dirty || role.touched)" class="error">
        <div *ngIf="role.errors?.['required']">Role is required.</div>
      </div>
    </div>
    
    <div class="form-group">
      <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" required minlength="6" #password="ngModel" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>
    <div *ngIf="emailError" class="error">{{ emailError }}</div>
    <button type="submit" class="submit-btn" >Sign Up</button>
  </form>
  
  
  
  